.l-sidebar {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    padding: 16px !important;
    border-right: 1px solid #f0f0f0;

    .logo {
        padding: 12px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 30px;
            height: 30px;
            fill: $primary-color;
        }

        &:hover {
            cursor: pointer;
            background-color: #f1f1f1;
        }
    }

    &__menu {
        font-size: 20px;

        * {
            color: $secondary-color;
        }
    }

    &__item {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 14px;
        border-radius: 30px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &:hover {
            * {
                color: $primary-color;
            }

            background-color: rgba($primary-color, 0.2);

            svg {
                fill: $primary-color;
            }
        }
    }

    &__item.active {
        background-color: rgba($primary-color, 0.2);

        * {
            color: $primary-color;
        }

        svg:first-child {
            display: none;
        }

        svg:last-child {
            color: red !important;
            display: inline-block;
            fill: $primary-color;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__icon {
        margin-right: 20px;

        svg:last-child {
            display: none;
        }
    }

    svg {
        margin-top: -2px;
    }
}

.user {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0 12px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(15, 20, 25, 0.1);
    }

    &-avatar {
        flex-shrink: 0;

        img {
            border-radius: 50%;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    &-main {
        display: inline-block;
    }

    &-name {}

    &-email {
        font-weight: normal;
    }

    &-detail {}

    &-logout {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-200%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: #f9f9f9;
        box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.1);
        padding: unset;
        overflow: hidden;
        &:hover {
            background-color: #f9f9f9;
        }

        &-container {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #f0f0f0;
            padding: 20px;
        }
        .user-info {
            padding: 0 10px;
        }
        .user-detail {
            i {
                color: green;
            }
            margin-left: 20px;
        }
        &-btn {
            width: 100%;
            text-align: center;
            font-weight: normal;
            padding: 20px;
            &:hover {
                color: $primary-color;
                background-color: #f1f1f1;
            }
        }
    }


}